.about {
  padding: 6rem 0;

  background-color: lighten(map-get($colors, dark), 95%);

  &__inner {
    @include breakpoint(md) {
      display: flex;

      padding: 2rem 0;
    }
  }

  &__title {

  }

  &__portrait {
    background-color: lighten(map-get($colors, dark), 15%);

     box-shadow: -1px 2px 25px #999;

     opacity: 0;

     transform: translate(-30px, 30px);

     transition: transform .5s ease, opacity .5s ease;

    @include breakpoint(md) {
      flex: 1;

      max-width: 250px;

      
    }

    &.active {
      transform: translate(0);

      opacity: 1;

      .about__image {
        transform: translate(30px, -30px);
      }
    }
  }

  &__image {
    width: 250;
    height: 250px;

    transition: transform 1.3s map-get($easings, easeOutBack);

    filter: grayscale(10%);
  }


  &__content {
    @include breakpoint(md) {
      flex: 1;

      padding-left: 5rem;
    }
  }

  &__paragraph {
    // color: map-get($colors, white);
  }


}