.about {
  position: relative;

  padding: 6rem 0;

  min-height: 100vh;

  @include breakpoint(md) {
    padding: 5rem 0;
  }

  &::before {
    @include breakpoint(md) {
      @include pseudo();

      bottom: 0;
  
      height: 60%;
      width: 100%;
  
      background: linear-gradient(rgba(map-get($colors, default-bg), 1), rgba(map-get($colors, default-bg), 0)), url($about-bg-url) center;
    }
  }

  &__inner {
    overflow-x: hidden;

    @include breakpoint(md) {
      display: flex; 

      padding-top: 5rem;

      overflow: visible;
    }
  }

  &__portrait {
    margin: 2.5rem auto 0 auto;

    max-width: 400px;

    background-color: lighten(map-get($colors, dark), 15%);

    box-shadow: -1px 2px 25px #999;

    opacity: 0;

    transition: opacity .5s ease;

    @include breakpoint(md) {
      flex: 1;

      max-width: 350px;

      transform: translate(-30px, 30px);

      transition: transform .5s ease, opacity .5s ease;
    }

    &.active {
      opacity: 1;

      @include breakpoint(md) {
        transform: translate(0);

        .about__image {
          transform: translate(30px, -30px);
        }
      }
    }
  }

  &__image {
    @include img-center();
    
    transform: translateY(-40px);

    width: 70%;

    transition: transform 1.3s map-get($easings, easeOutBack);

    filter: grayscale(10%);

    @include breakpoint(md) {
      width: 350px;

      transform: translateY(0);
    }
  }


  &__content {
    overflow-x: hidden;
    
    margin-top: 3rem;

    opacity: 0;

    transform: scale(.95) translateX(20%); 

    transition: transform 1s ease .5s, opacity .5s ease .5s;

    @include hardware();

    @include breakpoint(md) {
      flex: 1;

      margin-top: 0;

      padding-left: 6.5rem;

      overflow: visible;
    }

    &.active {
      opacity: 1;

      transform: scale(1) translateX(0);
    }
  }
  
  &__title {
    text-align: left;
  }

  &__paragraph {
    font-size: 1.1rem;

    line-height: 1.5;

    @include hardware();
  }

  &__btn-group {
    display: block;

    margin: 2rem auto 2rem auto;

    text-align: center;

    @include breakpoint(md) {
      margin: 2rem 0;

      text-align: left;
    }
  }

  &__btn {
    @include hardware();
    
    &--github {
      margin-left: .5rem;
    }
  }


}