.contact {
  position: relative;

  padding: 4rem 0;

  background-image: linear-gradient(-225deg, rgba(map-get($colors, dark), .9), rgba(lighten(map-get($colors, dark),10%), .9));

  @include breakpoint(md) {
    padding: 7rem 0;
  }

  &::before {
    @include breakpoint(md) {
      @include triangle-shape-section('top', 'normal', 50px);
    } 
  }

  &__title {
    
    color: darken(map-get($colors, white), 15%);

    font-size: 2rem;

    text-align: left;
  }

  &__form {
    margin: 0 auto; 
    max-width: 500px;
  }

  &__exam {
    margin-left: .5rem;

    color: map-get($colors, accent);

    input {
      background: transparent;

      border: 0;

      border-bottom: 1px solid map-get($colors, white);

      width: 50px;

      padding: .5rem 0;

      font-size: 1.3rem;

      text-align: center;

      color: #fff;

      &:focus {
        outline: 2px solid map-get($colors, accent);
      }
    }
  }
} 