.header {
  position: relative;

  // display: flex;

  overflow: hidden;

  height: 100vh;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  color: map-get($colors, white);

  &::before {
    @include pseudo();

    z-index: -1;

    width: 100%;
    height: 100%;

    background: 
      linear-gradient(-225deg, rgba(map-get($colors, dark), .7),rgba(lighten(map-get($colors, dark), 10%), .7)),
      url('../images/hero.jpeg') no-repeat center / cover;

      animation: header-bg-animation 1s linear;
  }

  &__navbar {
    position: relative;

    background-color: rgba(lighten(map-get($colors, dark), 7%), .9);
  }

  &__wrapper {
    margin: 0 auto;

    max-width: 80%;
  }
   
  &__content-box {
    margin-right: 2rem; 
    margin-top: 5rem;
   
    padding: 1.5rem;
    
    @include breakpoint(xs) {
      margin-top: 8rem;
    }
  }

 
}

