html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  
  -webkit-font-smoothing: antialiased;
 
  min-height: 100vh;

  background-color: map-get($colors, default-bg);
}

a {
  &:link,
  &:visited {
    text-decoration: none;
  }
} 