

@import '../../node_modules/normalize-scss/sass/normalize/import-now';

// @include normalize(); 

@import 'base/global';
@import 'utils/variables';
@import 'utils/mixins';
@import 'base/layout'; 
 
@import 'components/card'; 
@import 'sections/projects';  

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}  
 
h1 {
  color: #fff; 
}

.links a {
  color: #fff; 
}