

@import '../../node_modules/normalize-scss/sass/normalize/import-now';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

// @include normalize(); 

@import 'base/global';
@import 'utils/variables';
@import 'utils/mixins';
@import 'base/layout'; 
 
@import 'components/card'; 
@import 'sections/header';  
@import 'sections/projects';  

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}  

body {
  font-family: 'Open Sans', sans-serif;
}
 
h1 {
  color: #fff; 
}

.links a {
  color: #fff; 
}