@keyframes header-bg-animation {
  0% {
    transform: scale(1.2) translateZ(100px);
  }

  50% {

  }

  100% {

  }
}

@keyframes bouncingMouse {
  0% {
    transform: translateX(-50%) scale(1);
  }

  40% {
    transform: translateX(-50%) scale(1.05);
  }

  70% {
    transform: translateX(-50%) scale(1);
  }
}