@keyframes header-bg-animation {
  0% {
    transform: scale(1.2) translateZ(100px);
  }

  50% {

  }

  100% {

  }
}

@keyframes bouncingMouse {
  0% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.05);
  }

  70% {
    transform: scale(1);
  }
}

@keyframes typing {
  from { max-width: 0 }
  to { max-width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #fff; }
}