.card {

  &-wrap {
    max-width: 400px;    
    transform: perspective(1000px);
    transform-style: preserve-3d;

    &:hover {
      .card {
        transition: all 1.2s cubic-bezier(0.23, 1, 0.32, 1);
      } 
    }

    .card {
      transition: all 1.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
  }
  
  display: block;

  // max-width: 250px;

  transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);

  padding-top: 15rem;

  border: 1px solid darken(map-get($colors, white), 50%);
  border-radius: .5rem;

  color: map-get($colors, white); 

  cursor: pointer;

  box-shadow:
  rgba(#666, 0.9) 0 30px 60px 0;

  &:hover {
    border-color: map-get($colors, white);

    // transform: rotateX(20deg);
  }
  &--travelize {
    background: url('../images/projects-travelize.png') no-repeat center / cover;
  }
}