.card {
  display: flex;

  align-items: flex-end;

  position: relative;

  margin: 0 2rem;

  width: 400px;

  height: 250px;

  box-shadow: 0px 7px 10px rgba(black, 0.5);

  border-radius: 5px;

  overflow: hidden;

  background: url('../images/projects-movie-hunter.jpg') no-repeat center / cover;

  transition: transform .3s ease-out;

  &:hover {
    transform: translateY(15px);

    &::before,
    .card__body {
      opacity: 1;
    }

    .card__body {
      transform: translateY(0);
    }
  }

  &::before {
    @include pseudo();

    width: 100%;
    height: 100%;

    background-color: rgba(map-get($colors, dark), .7);

    opacity: 0;

    transition: opacity .3s ease;
  }

  &__body {
    position: relative;

    z-index: map-get($layers, card-body);

    padding: 1rem;
    
    color: map-get($colors, white);

    opacity: 0;

    transform: translateY(40px);

    transition: opacity .3s ease, transform .4s ease;

    
  }

  &__links {
    margin-bottom: 1rem;

    text-align: center;
  }

  &__link {
    position: relative;

    margin: 0 .5rem;

    &::before {
      @include triangle(map-get($colors, white), 'up');

      bottom: -5px;
      left: 50%;

      transform: translate(-50%, 10px);

      opacity: 0;

      transition: transform .2s ease, opacity .2s ease;
    }

    &:hover {
      &::before {
        opacity: 1;

        transform: translate(-50%, 0);
      }
      .card__icon {
        fill: map-get($colors, accent);
      }
    }
  }

  &__icon {
    width: 50px;
    height: 50px;  

    fill: map-get($colors, white);

    transition: fill .2s ease;
  }
}