.card {
  display: block;
  margin: 2rem auto;
  width: 300px;
  height: 220px;

  @include breakpoint(xs) {
    width: 350px;
    height: 240px;
  }

  @include breakpoint(md) {
    width: 300px;
    height: 220px;
  }

  @include breakpoint(lg) {
    width: 350px;
    height: 240px;
  }

  &__wrapper {
    
    
    transform: perspective(1000px);
    transform-style: preserve-3d;
    cursor: pointer;
    z-index: 0;
    
    
   

    &:hover {
      .card__inner {  
        transition: all 1.2s cubic-bezier(0.23, 1, 0.32, 1);
      }  
    }
  }
   
  
  &__inner {
    display: block;

    height: 100%;

    transition: all 1.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);

    border-radius: .5rem;

    color: map-get($colors, white); 

    box-shadow: rgba(#333, 0.9) 0 30px 60px 0, rgba(#333, 0.9) 0 30px 60px 0 inset;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    &--travelize {
      background: url('../images/projects-travelize.jpg') no-repeat center / cover;
    }

    &--movie-hunter {
      background: url('../images/projects-movie-hunter.jpg') no-repeat center / cover;
    }  
    
    &--recipes {
      background: url('../images/projects-recipes.jpg') no-repeat center / cover;
    } 

    &:hover {
      // border-color: map-get($colors, white);
      // outline-color: map-get($colors, white);
    } 
  } 

  &__title {
    margin: .2rem 0 0 .2rem;
    font-weight: 300; 
  }
  
}