.scroll-down {
  position: absolute;

  bottom: 13%;
  left: 50%; 

  background-color: transparent;
  
  transform: translateX(-50%);

  cursor: pointer;

  @include breakpoint(md) {
    bottom: 9%;
  }

  &__icon {
    display: block;

    margin: 0 auto .5rem auto;

    width: 50px;
    height: 50px;

    fill: #fff;

    animation: bouncingMouse 2s ease infinite;
  }

  &__tip {
    font-size: .6rem;
    font-weight: 700;

    text-transform: uppercase;
    text-align: center;
  }
}